.autocompleter {
  border: 1px solid #ddd;
  background-color: white;
  width: auto;
  z-index: 55;
}

.autocompleter li {
  border-top: 1px solid #ddd;
  padding: 3px 7px;
}

.autocompleter li:first-child {
  border-top: none;
}

.autocompleter li.active {
  background-color: rgb(110, 183, 219);
}

.autocompleter a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;
}

.autocompleter {
  list-style: none;
  padding: 0;
  margin: 0;
}
